# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.local

# VSCode
.vscode/

# PyCharm
.idea/

# Migrations cache
*/migrations/*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Coverage / tests
.coverage
htmlcov/
.pytest_cache/

# mypy
.mypy_cache/

# Ruff
.ruff_cache/

# Node
node_modules/

# Build files
dist/
build/

# Temporary files
*.tmp
*.swp